/* Styling  Fake Google */
* {
    margin: 0;
    padding: 0;
  }


  body {
      font-family: Arial, sans-serif;
      color: #222;
  }

  .container {
        width: 580px;
        margin: 0 auto;
        text-align: center;
        margin-top: 200px; 
  }
  h1#doodle {
      width: 272px;
      height: 92px;
      background: url('images/googlelogo_color_272x92dp.png') top left no-repeat;
      margin: 0 auto;  
    }
#top_nav {
    text-align: right;
}    
ul#top_nav li  {
    margin: 5px 15px 0 0;
    display: inline-block;
    
}

input[type="search"]{
    width: 100%;
    padding: 5px;
    margin: 25px 0 18px;
}

input[type="submit"]{
    padding: 5px;
    margin: 25px 0 18px;
}

ul#bot_nav_left li,
ul#bot_nav_right li {

    display: inline-block;

}

#bot_nav_left {
    margin: 225px 0 0 5px;
    padding-left: 5px;
}
#bot_nav_right {
    
    padding-right: 5px;
    text-align: right;

}
