/* Styling Google Fake */
* {
    margin: 0;
    padding: 0;
  }


  body {
      font-family: Arial, sans-serif;
      color: #222;
  }

  .container {
        width: 580px;
        margin: 0 auto;
        text-align: center;
        margin-top: 200px; 
  }
  h1#doodle {
      width: 272px;
      height: 92px;
      background: url('images/googlelogo_color_272x92dp.png') top left no-repeat;
      margin: 0 auto;  
    }
  ul#top_nav li  {
    
    display: inline-block;
    vertical-align: middle;
}

input[type="search"]{
    width: 100%;
    padding: 5px;
    margin: 25px 0 18px;
}